# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_SPLITKB_HALCYON_CONTROLLER

config BOARD
	default "splitkb_halcyon_controller"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_SPLITKB_HALCYON_CONTROLLER
